<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Time Human Detection & Counting</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Choose 1 option and start detecting</h1>
        <div class="button-container">
            <a href="{{ url_for('detect_camera') }}" class="button detect">Detect from Camera</a>
            <a href="{{ url_for('detect_video') }}" class="button detect">Detect from Video</a>
            <a href="#" class="button exit" onclick="window.close()">❌ EXIT</a>
        </div>
    </div>
</body>
</html>
